.slider-bar{
	position: relative;
	width: 100%;
	float: none;
}

.main{
	width: 100%;
	padding-left:5px;
	padding-right: 5px;
}
.article-list,.article{
	margin: 0;
}
.slider-bar .nav ,
.slider-bar .tag-list {
	text-align: center; 
	display: none;
}

#menu-check:checked ~ .nav,
#menu-check:checked ~ .tag-list{
	display: block;
} 

#menu-toggle{
	position: absolute;
	top: 10px;
	right: 5px;
	font-size: 18px;
	font-weight: 100;
	color: rgba(255,255,255,.7);
	display: block;
}
